%span.span-24.last.title
  %h2= title "Import contcats"
  = render "shared/user_menu"

%section.span-24.column.left-column
  %section#accordion
    = render :partial => "facebook"
    = render :partial => "twitter"

:javascript
  $(function(){
     $( "#accordion" ).accordion({
     collapsible: true
     });

  });
