<h1 id="shareMeLogo">
	<%= link_to "Simplify How You Connect!", user_home_path,{:title=>"ShareMe Home"} %>
</h1>
<!--Enter share me code section starts here-->

<div class="enter_share_code_header">

	<form action="" method="get" id="shareCodeHead">

		<h2>ENTER <span>SHARE ME</span> CODE</h2>
		<input name="" type="text" maxlength="2" class="digits"/>
		<input name="" type="text" maxlength="2"  class="digits"/>
		<input name="" type="text" maxlength="2"  class="digits"/>
		<input name="" type="text" maxlength="2"  class="digits"/>
		<input name="" type="button"  class="yellowInputBtn" value="search"/>
	</form>

</div>

<!--Enter share me code section end here--> 
