<ul class="footer_navigation">
	<li>
    <%= link_to "Home", root_path %>
  </li>
	<li>
    <%= link_to "About Share Me", "/what_is_share_me" %>
  </li>
	<li>
    <%= link_to "How Share Me Works", "/how_share_me_works" %>
  </li>
	<li>
    <%= link_to "Contact Us", new_feedback_path %>
  </li>
	<li><a href="#"> Privacy Policy </a></li>
	<li><a href="#"> Terms & Conditions</a></li>
  <p class="copyright">ShareMe &copy; 2011. All Rights Reserved</p>
</ul>
