<ul class="footer_navigation">
	<li><a href="#">Home</a></li>
	<li><a href="#">About Share Me </a></li>
	<li><a href="#"> How Share Me Works</a></li>
	<li><a href="#"> Contact Us</a></li>
	<li><a href="#"> Your Profile </a></li>
	<li><a href="#"> Privacy Policy </a></li>
	<li><a href="#"> Terms & Conditions</a></li>
  <p class="copyright">ShareMe &copy; 2011. All Rights Reserved</p>
</ul>
