
<h1 id="shareMeLogo"><a title="Share Me Home" href="index.html">Simplify How You Connect!</a></h1>
<!--top navigation Starts here-->
<ul class="header_navigation">
	<li><a href="#" class="activeLink">Home</a></li>
	<li><a href="#">About Share Me </a></li>
	<li><a href="#"> How Share Me Works</a></li>
	<li><a href="#"> Contact Us</a></li>
</ul>
<!--top navigation ends here--> 
