<h1 id="shareMeLogo">
	<%= link_to "Simplify How You Connect!",root_path ,{:title=>"ShareMe Home"} %>
</h1>
<!--top navigation Starts here-->
<ul class="header_navigation">
	<li><a href="#" class="activeLink">Home</a></li>
	<li><a href="#">About Share Me </a></li>
	<li><a href="#"> How Share Me Works</a></li>
	<li><a href="#"> Contact Us</a></li>
</ul>
<!--top navigation ends here--> 
