/* line 1, ../../../app/stylesheets/style.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 6, ../../../app/stylesheets/style.scss */
ul, li, ol {
  list-style-type: none;
}

/* line 9, ../../../app/stylesheets/style.scss */
html {
  background: white url("/images/footer-bg.png") bottom repeat-x;
}

/* line 12, ../../../app/stylesheets/style.scss */
body {
  font-family: tahoma, sans-serif;
  font-size: 12px;
  color: #000;
  background: transparent url("/images/bg.png");
  font-weight: normal;
}

/* line 19, ../../../app/stylesheets/style.scss */
fieldset, input, button {
  border: 0px !important;
  outline: 0px !important;
}

/* line 23, ../../../app/stylesheets/style.scss */
input {
  width: 220px !important;
  background: transparent url("/images/sprite.png") -1px -145px no-repeat;
  background-color: transparent !important;
  color: #111111;
  margin: 0 !important;
  padding: 10px !important;
  font-size: 11px;
}

/* line 32, ../../../app/stylesheets/style.scss */
.container {
  position: relative;
}

/* line 35, ../../../app/stylesheets/style.scss */
#header {
  height: 94px;
  background: transparent url("/images/header-bg.png") bottom repeat-x;
  font-family: times new roman;
  font-size: 40px;
  color: black;
}
/* line 41, ../../../app/stylesheets/style.scss */
#header span {
  line-height: 80px;
}
/* line 43, ../../../app/stylesheets/style.scss */
#header a {
  margin-top: 5px;
}

/* line 47, ../../../app/stylesheets/style.scss */
#user_new label {
  text-align: right !important;
}
/* line 49, ../../../app/stylesheets/style.scss */
#user_new #user_remember_me {
  width: 20px !important;
  margin-top: 11px !important;
}
/* line 52, ../../../app/stylesheets/style.scss */
#user_new .sign-in-button {
  width: 125px;
  margin-left: 10px;
}
/* line 55, ../../../app/stylesheets/style.scss */
#user_new .conformition-button {
  width: 345px;
}

/* line 58, ../../../app/stylesheets/style.scss */
.wrap-header {
  background: transparent url("/images/header-wrap.png") top repeat-x;
}

/* line 61, ../../../app/stylesheets/style.scss */
#footer {
  font-family: times new roman, serif;
  font-size: 12px;
  color: #ababab;
}
/* line 65, ../../../app/stylesheets/style.scss */
#footer span {
  line-height: 80px;
  margin-top: 130px;
  line-height: 35px;
}
/* line 69, ../../../app/stylesheets/style.scss */
#footer a {
  margin-top: 5px;
}

/* line 72, ../../../app/stylesheets/style.scss */
.wrap-footer {
  height: 154px;
  background: white url("/images/footer-wrap.png") top repeat-x;
}

/* line 76, ../../../app/stylesheets/style.scss */
.wrap {
  background: transparent url("/images/grad.png") bottom repeat-x;
}

/* line 79, ../../../app/stylesheets/style.scss */
.right {
  float: right;
}

/* line 82, ../../../app/stylesheets/style.scss */
#content {
  font-family: arial, serif;
  font-size: 13px;
  color: #000000;
  background: transparent url("/images/footer-bg.png") bottom repeat-x;
}
/* line 87, ../../../app/stylesheets/style.scss */
#content .title {
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 18px;
}
/* line 92, ../../../app/stylesheets/style.scss */
#content .left-column {
  background: transparent url("/images/left-column-separator.png") top right repeat-y;
  margin-bottom: 30px;
}
/* line 95, ../../../app/stylesheets/style.scss */
#content .left-column img {
  margin-bottom: 18px;
  margin-left: 30px;
}
/* line 99, ../../../app/stylesheets/style.scss */
#content .right-column .search-form {
  background: transparent url("/images/sprite.png") 0 0 no-repeat;
  margin-bottom: 10px;
}
/* line 102, ../../../app/stylesheets/style.scss */
#content .right-column .search-form fieldset {
  padding: 10px 10px 20px 20px;
}
/* line 104, ../../../app/stylesheets/style.scss */
#content .right-column .search-form label {
  text-align: center;
  color: #472b24;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 110, ../../../app/stylesheets/style.scss */
#content .right-column .search-form .get-their img {
  margin: 5px 65px;
}
/* line 113, ../../../app/stylesheets/style.scss */
#content .right-column .getsfree-form fieldset {
  padding: 10px 10px 30px 30px;
}
/* line 115, ../../../app/stylesheets/style.scss */
#content .right-column .getsfree-form label {
  text-align: left !important;
  color: #472b24;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}
/* line 121, ../../../app/stylesheets/style.scss */
#content .right-column .getsfree-form input {
  margin-bottom: 5px !important;
}
/* line 123, ../../../app/stylesheets/style.scss */
#content .right-column .getsfree-form .facebook-link {
  width: 32px;
  height: 32px;
  background: transparent url("/images/sprite.png") -255px -268px no-repeat;
  margin-top: 10px;
}

/* line 129, ../../../app/stylesheets/style.scss */
.bottom-content {
  font-family: Times New Roman, sans-serif;
  margin-bottom: 110px;
  color: #23201f;
}
/* line 133, ../../../app/stylesheets/style.scss */
.bottom-content article {
  background: transparent url("/images/sprite.png") -1px -310px no-repeat;
  width: 270px;
  height: 123px;
  padding: 0px 15px 5px 15px;
  color: #472b24;
}
/* line 139, ../../../app/stylesheets/style.scss */
.bottom-content header {
  font-size: 30px;
  font-style: italic;
  width: 100%;
  text-align: left;
  color: #23201f;
}

/* line 146, ../../../app/stylesheets/style.scss */
.jquery-button {
  background: none !important;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 !important;
  position: relative;
  border: 0 !important;
  height: 40px !important;
}
/* line 154, ../../../app/stylesheets/style.scss */
.jquery-button span {
  margin: 0;
  padding: 0;
  height: 40px !important;
  line-height: 38px;
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #000;
}
/* line 162, ../../../app/stylesheets/style.scss */
.jquery-button span.button_left {
  width: 25px;
  float: left;
  background-image: url("/images/sprite.png");
  background-repeat: no-repeat;
  background-position: -40px -230px;
}
/* line 168, ../../../app/stylesheets/style.scss */
.jquery-button span.button_right {
  width: 25px;
  position: absolute;
  top: 0px;
  background-image: url("/images/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -230px;
}
/* line 175, ../../../app/stylesheets/style.scss */
.jquery-button span.button_text {
  position: relative;
  float: left;
  background-image: url("/images/sprite.png");
  background-repeat: repeat-x;
  background-position: 0px -187px;
  letter-spacing: 1px;
}
/* line 182, ../../../app/stylesheets/style.scss */
.jquery-button:hover {
  opacity: 0.9;
}
/* line 184, ../../../app/stylesheets/style.scss */
.jquery-button:hover span {
  opacity: 0.9;
}

/* line 187, ../../../app/stylesheets/style.scss */
.find-button {
  width: 90px;
  margin-left: 10px;
}

/* line 191, ../../../app/stylesheets/style.scss */
.register-button {
  width: 135px;
  margin-right: 80px;
}

/* line 195, ../../../app/stylesheets/style.scss */
.find-button.jquery-button {
  background: none !important;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 !important;
  position: relative;
  border: 0 !important;
  height: 41px !important;
}
/* line 203, ../../../app/stylesheets/style.scss */
.find-button.jquery-button span {
  margin: 0;
  padding: 0;
  height: 41px !important;
  line-height: 38px;
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #000;
}
/* line 211, ../../../app/stylesheets/style.scss */
.find-button.jquery-button span.button_left {
  width: 25px;
  float: left;
  background-image: url("/images/sprite.png");
  background-repeat: no-repeat;
  background-position: -264px -142px;
}
/* line 217, ../../../app/stylesheets/style.scss */
.find-button.jquery-button span.button_right {
  width: 25px;
  position: absolute;
  top: 0px;
  background-image: url("/images/sprite.png");
  background-repeat: no-repeat;
  background-position: -423px -142px;
}
/* line 224, ../../../app/stylesheets/style.scss */
.find-button.jquery-button span.button_text {
  position: relative;
  float: left;
  background-image: url("/images/sprite.png");
  background-repeat: no-repeat;
  background-position: -290px -142px;
  letter-spacing: 1px;
}

/* line 232, ../../../app/stylesheets/style.scss */
.button-length-50 {
  width: 50px;
}

/* line 233, ../../../app/stylesheets/style.scss */
.button-length-100 {
  width: 100px;
}

/* line 234, ../../../app/stylesheets/style.scss */
.button-length-200 {
  width: 200px;
}

/* line 235, ../../../app/stylesheets/style.scss */
.button-length-250 {
  width: 250px;
}

/* line 236, ../../../app/stylesheets/style.scss */
.button-length-300 {
  width: 300px;
}

/* line 237, ../../../app/stylesheets/style.scss */
.button-length-350 {
  width: 350px;
}

/* line 238, ../../../app/stylesheets/style.scss */
.button-length-400 {
  width: 400px;
}

/* line 239, ../../../app/stylesheets/style.scss */
.button-length-450 {
  width: 450px;
}

/* line 241, ../../../app/stylesheets/style.scss */
#map-tooltip {
  width: 290px;
  height: 100px;
  color: white;
  padding: 20px;
}

/* line 244, ../../../app/stylesheets/style.scss */
#map-tooltip, .button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 246, ../../../app/stylesheets/style.scss */
#map-tooltip {
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 0 10px;
}

/* line 248, ../../../app/stylesheets/style.scss */
#map-tooltip {
  background: rgba(10, 10, 10, 0.6);
}

/* line 249, ../../../app/stylesheets/style.scss */
#map-tooltip-content {
  height: 100%;
  color: white;
  margin-bottom: 0 !important;
}

/* line 254, ../../../app/stylesheets/style.scss */
.map-tooltip-link {
  font-family: Verdana;
  text-transform: uppercase;
  color: #CCC !important;
  font-size: 10px !important;
  text-decoration: none !important;
  font-weight: normal !important;
}

/* line 262, ../../../app/stylesheets/style.scss */
#map-tooltip-content h4 {
  font-family: Verdana;
  color: white;
  margin-bottom: 0;
}

/* line 266, ../../../app/stylesheets/style.scss */
#map-tooltip-content div {
  font-family: Verdana;
  color: white;
  margin-bottom: 0;
}

/* line 271, ../../../app/stylesheets/style.scss */
.hidden {
  display: none;
}

/* line 272, ../../../app/stylesheets/style.scss */
.menu-upper-level {
  text-align: center;
  color: #472B24;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 2px;
}

/*  recapthca */
/* line 282, ../../../app/stylesheets/style.scss */
#recaptcha_response_field {
  background: none;
  border: 1px solid #CCA940 !important;
  background-color: white !important;
}

/* social button */
/* line 289, ../../../app/stylesheets/style.scss */
.social-button {
  background: none;
  border: none;
}
