html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: 
none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
   General 
------------------------------------------------------------------- */

html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}
body {
	background: #efefe9;
	color: #5A5A50;
	font: normal 0.8em sans-serif;
	line-height: 1.5em;
}
/* 
   Typography 
------------------------------------------------------------------- */

p {

}
h1 {
	font: normal 2em sans-serif;
}
h2 {
  color: #FFFFFF;
  font: bold 1em Arial,Helvetica,sans-serif;
  text-transform: uppercase;
}
h3 {
	font: normal 1.8em Arial, Helvetica, sans-serif;
}
h4 {
	font: normal 1.8em Arial, Helvetica, sans-serif;
}
h5 {
	font: normal 1.8em Arial, Helvetica, sans-serif;
}
h6 {
	font: normal 1.8em Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {

	margin-bottom: 0.3em;
}
blockquote {
	background: #F6F6F6 url('../images/quote.gif') no-repeat;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	color: #332;
	display: block;
	margin: 0.6em 0 1.6em;
	padding: 0.8em 1em 0.2em 46px;
}
/* 
   Tables
------------------------------------------------------------------- */

table.data_table {
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}
table.data_table th {
	background: #E5E5E5;
	border: 1px solid #D5D5D5;
	color: #555;
	text-align: left;
}
table.data_table tr {
	border-bottom: 1px solid #DDD;
}
table.data_table td, table th {
	padding: 10px;
}
table.data_table td {
	background: #F5F5F5;
	border: 1px solid #E0E0E0;
}

/* 
   Links 
------------------------------------------------------------------- */

a {
	color: #456;
}
a:hover {
	color: #666;
	text-decoration: underline;
}
/* 
   Forms 
------------------------------------------------------------------- */

fieldset {
	border: 1px solid #CCC;
	border-bottom: none;
	font-size: 0.9em;
	margin: 1em 0 1.2em;
}
input, textarea, select {
	background-color: #FFF;
	border: 1px solid #777;
	border-color: #777 #CCC #CCC #777;
	font: normal 1em Verdana, sans-serif;
	padding: 5px 6px;
}
input.button {
	background: #FAFAFA;
	border: 1px solid #AAA;
	border-color: #DDD #AAA #AAA #EEE;
	color: #444;
	cursor: pointer;
	font: normal 1em Verdana, sans-serif;
	margin-top: 5px;
	padding: 6px;
	width: auto;
}
input:focus, input:active, textarea:focus, textarea:active, select:focus, select:active, input.button:hover, input.button:focus {
/*	background: #FFFFF5;*/
}
input.button:hover, input.button:focus {
	color: #123;
	cursor: pointer;
}
textarea {
	overflow: auto;
}
input.image {
	border: 0;
	padding: 0;
}
/* Specific */

.form_row {
	background: #F5F5F5;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #E1E1E1;
	padding: 10px 0;
}
.form_required {
	font-weight: bold;
}
.form_row_submit, .legend {
	background: #E5E5E5;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #FAFAFA;
	padding: 4px 0 8px;
}
.legend {
	padding: 8px 18px 6px;
}
.form_property, .form_value {
	float: left;
}
.form_property {
	font-size: 1.1em;
	text-align: right;
	width: 110px;
}
.form_value {
	padding-left: 24px;
}
.form_row_submit .form_value {
	padding-left: 132px;
}
/* 
   Images 
------------------------------------------------------------------- */

img.bordered, img.alignleft, img.alignright, img.aligncenter {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}
img.left, img.alignleft {
	margin: 0 15px 12px 0;
}
img.right, img.alignright {
	margin: 0 0 15px 12px;
}
/* 
   Floats
------------------------------------------------------------------- */

.left, .alignleft {
	float: left;
}
.right, .alignright {
	float: right;
}
.center, .aligncenter {
	margin: 0 auto;
}
.clear, .clearer {
	clear: both;
}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}
/* 
   Buttons 
------------------------------------------------------------------- */

a.moreBtnWhite {
  background: url("../images/plus_ico_white.gif") no-repeat scroll right 3px transparent;
  color: #FFFFFF;
  display: block;
  padding-right: 8px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 2px;
  width: 110px;
}
a.moreBtnYellowFloating {
  background: url("../images/plus_ico_yellow.gif") no-repeat scroll right 1px transparent;
  color: #000000;
  display: block;
  float: right;
  margin: 0px 0 10px;
  padding-right: 13px;
  text-decoration: none;
  width: 110px;
}
a.moreBtnPlain {
  color: #000;
  display: block;
  padding-right: 8px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 2px;
}
a.moreBtnPlainLeft {
  color: #000;
  display: block;
  padding-right: 8px;
  position: absolute;
  left: 5px;
/*  text-decoration: none;*/
  top: 2px;
}
a.moreBtnYellow {
  background: url("../images/plus_ico_yellow.gif") no-repeat scroll right 3px transparent;
  bottom: -23px;
  color: #000000;
  display: block;
  padding-right: 8px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: lowercase;
  width: 80px;
}
input.yellowInputBtn {
  background: url("../images/yellow_btn_bg.jpg") repeat-x scroll 0 0 transparent;
  border: medium none;
  color: #000000;
  font-family: arial;
  font-size: 1.1em;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}
a.blackInputBtn {
  background: url("../images/black_btn_bg.jpg") repeat-x scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
  height: 26px;
  line-height: 27px;
  margin: 5px 8px 0 0;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}
input.blackInputBtn {
  background: url("../images/black_btn_bg.jpg") repeat-x scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
  height: 26px;
  line-height: 27px;
  margin: 5px 8px 12px 0;
  padding: 0 13px;
  text-decoration: none;
  text-transform: uppercase;
}
input.blackInputBtnCancel {
  background: url("../images/black_btn_bg.jpg") repeat-x scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
  height: 26px;
  line-height: 27px;
  margin: 5px 16px 0 0;
  padding: 0 13px;
  text-decoration: none;
  text-transform: uppercase;
}


/* 
   Layout 
------------------------------------------------------------------- */

/* General */
#layout_wrapper_outer {
	width: 990px;
	margin: 0 auto;
	background:url(../images/main_wrapper_pattern.jpg) repeat;
	
}
#header {
	width: 990px;
	height: 73px;
	background-color:#000;

	
}
h1#shareMeLogo {
  float: left;
  height: 34px;
  margin: 12px;
  text-indent: -999em;
  width: 432px;
  margin-right: 40px;
}
h1#shareMeLogo a {
  background: url("../images/logo.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 46px;
  width: 432px;
}
ul.header_navigation {
  float: left;
  margin: 24px 0 0 82px;
  padding: 0;
}
ul.header_navigation li {
  float: left;
  height: 20px;
  line-height: 20px;
  list-style: none outside none;
  margin: 0 5px;
}
ul.header_navigation li a {
  color: #000;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  text-decoration: none;
}
ul.header_navigation li a:hover{
	display: block;
	line-height: 20px;
	height:20px;
  padding: 0 10px;
	color: #000;
	background:#ffc600;
	

}
ul.header_navigation li a.activeLink{
	display: block;
	line-height: 20px;
	height:20px;
  padding: 0 10px;
	color: #000;
	background:#ffc600;
	

}
#layout_wrapper {
  float: left;
  min-height: 555px;
  padding: 10px 0 10px 7px;
  position: relative;
  width: 981px;
}
.left_contents {
  float: left;
  margin: 0 11px 0 0;
  width: 710px;
}
.right_contents {
  float: left;
  margin: 0;
  width: 735px;
}
span{
	color: #000;
	font-size:1em;
	
}
.featured_section {
  float: left;
  width: 710px;
  border:1px solid #ffe400;
  position: relative;
    background-color: #FFFFFF;
	

}
.featured_section img {
  margin: 0 0 10px 4px;
  padding: 0;
}
.featured_section h2 {
  background-color: #FFBA00;
  padding: 5px 10px;
  text-align: center;
  width: 691px;
}
.intructory_section {
  float: left;
  height: 259px;
  margin: 10px 0;
  position: relative;
  width: 713px;
}
.col_1, .col_2, .col_3 {
  background-color: #FFFFFF;
  border: 1px solid #FFE400;
  float: left;
  margin: 0 19px 0 0;

  width: 223px;
  position: relative;
}
.col_3 {
  float: left;
  margin: 0;
  width: 222px;
}
.col_1 h2, .col_2 h2, .col_3 h2 {
  background-color: #FFBA00;
  padding: 5px;
  text-align: center;
  width: 213px;
}
.col_1 p, .col_2 p, .col_3 p {
  line-height: 15px;
  padding: 10px;
}
.rightBar {
  float: left;
  width: 258px;
}

.enter_share_code {
  background-color: #000000;
  float: left;
  height: 78px;
  margin: 0 0 10px;
  width: 253px;
}
.enter_share_code h2 {
  color: #FFFFFF;
  margin: 0 0 12px;
  padding: 5px 10px;
  text-align: center;
  width: 233px;
}
.enter_share_code_header h2 {
  color: #FFFFFF;
  float: left;
  margin: 0 0 12px;
  padding: 5px 10px;
  text-align: left;
  width: 160px;
}
.enter_share_code span {
  color: #FFBA00;

}
.enter_share_code_header span {
  color: #FFBA00;

}
.get_share_code {
  background-color: #FFFFFF;
  border: 1px solid #FFE400;
  float: left;
  position: relative;
  width: 252px;
  /*height: 133px;*/
}
.get_share_code h2 {
  background-color: #FFBA00;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
/*  width: 243px;*/
}
.get_share_code label {
  color: #000000;
  float: left;
  margin: 5px 7px 0 0;
  text-align: right;
  width: 54px;
}
.get_share_code input.textField {
  background: url("../images/input_pattern_yellow.jpg") repeat scroll 0 0 transparent;
  border: medium none;
  float: left;
  font-size: 1em;
  height: 25px;
  line-height: 25px;
  margin: 2px 0;
  padding: 0 5px;
  width: 173px;
}
form#shareCode {
	float: left;
	width: 240px;
	margin: 0 0 0 10px;
}
form#shareCodeHead {
  float: right;
  margin: 22px 3px 0 10px;
  width: 425px;
}
input.digits {
  background: url("../images/input_pattern.jpg") repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 1.3em;
  height: 25px;
  line-height: 25px;
  margin: 0;
  padding: 0 5px;
  width: 25px;
}
.connect_with_socials {
	  float: left;
  width: 253px;
    background-color: #000;

}
.already_a_member {
	  float: left;
  width: 253px;

}
.already_a_member p {
  float: left;
  font-weight: bold;
  margin: 10px;
}
.footer_contents {
	float: left;
	background:#000000;
		width: 990px;

}
ul.footer_navigation {
  float: left;
  margin: 5px;
  width: 760px;
}
ul.footer_navigation li {
  float: left;
  height: 20px;
  line-height: 20px;
  list-style: none outside none;
  margin: 0 5px;
}
ul.footer_navigation li a {
  color: #999999;
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  text-decoration: none;
}
ul.footer_navigation li a:hover{
	color: #777;

	

}
p.copyright {
  color: #999999;
  float: left;
  font-size: 12px;
  margin: 0 0 5px 16px;
  width: 233px;
}
ul.connect_with_socials {
  background: url("../images/white_dotted_pattrn.jpg") repeat scroll 0 0 transparent;
  border: 1px solid #DDDDDD;
  float: left;
  height: 27px;
  margin: 10px 0;
  padding: 16px 0;
  width: 252px;
}
ul.connect_with_socials p {
  float: left;
  font-weight: bold;
  margin: 4px 8px 0;
}
a.social-fb {
  background: url("../images/connect_with_socials.gif") no-repeat scroll 0 0 transparent;
  display: block;
  float: left;
  height: 20px;
  width: 29px;
}
a.social-twitt {
  background: url("../images/connect_with_socials.gif") no-repeat scroll -29px 0 transparent;
  display: block;
  float: left;
  height: 20px;
  width: 29px;
}
a.social-linkedin {
  background: url("../images/connect_with_socials.gif") no-repeat scroll -58px 0 transparent;
  display: block;
  float: left;
  height: 20px;
  width: 29px;
}
a.social-myspace{
  background: url("../images/connect_with_socials.gif") no-repeat scroll -87px 0 transparent;
  display: block;
  float: left;
  height: 20px;
  width: 29px;
}

.get_share_code_signin_popup {
  background-color: #FFFFFF;
  border: 1px solid #FFE400;
  float: left;
/*  height: 135px;*/
  position: relative;
  width: 327px;
  /*width: 100%;*/
}
.get_share_code_register_popup {
  background-color: #FFFFFF;
  border: 1px solid #FFE400;
  float: left;
  height: 163px;
  position: relative;
  width: 327px;
}
.get_share_code_signin_popup h2, .get_share_code_register_popup h2 {
  background-color: #FFBA00;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  width: 318px;
}
.get_share_code_signin_popup label, .get_share_code_register_popup label {
  color: #000000;
  float: left;
  margin: 5px 7px 0 8px;
  text-align: right;
  width: 113px;
}
.get_share_code_signin_popup input.textField, .get_share_code_register_popup input.textField, .profile-table input.textField {
  background: url("../images/input_pattern_yellow.jpg") repeat scroll 0 0 transparent;
  border: medium none;
  float: left;
  font-size: 1em;
  height: 25px;
  line-height: 25px;
  margin: 2px 0;
  padding: 0 5px;
  width: 173px;
}


/*=========Profile Page Styling===========*/
.profile_featured_section {
  background-color: #FFFFFF;
  border: 1px solid #FFE400;
  float: left;
  position: relative;
  width: 735px;
}
.profile_featured_section h2 {
  background-color: #FFBA00;
  padding: 5px 10px;
  text-align: center;
  width: 715px;
}
.leftBar {
  background: url("../images/white_dotted_pattrn.jpg") repeat scroll 0 0 transparent;
  border: 1px solid #DDDDDD;
  float: left;
  margin: 0 10px 0 0;
  width: 225px;
}
.leftBar  h2 {
	color: #000;
	margin: 5px 0 0 0;
}
.leftBar a {
	text-decoration: none;
	list-style: none;
	display: block;
}
.profile_section {
  float: left;
  padding: 20px 0 0;
}
.profile_section img, .profile_section  h2 , .profile_section  a.editProfile,  .profile_section small {
	margin:0 0 0 20px;
}
ul.left_navigation {
  float: left;
  margin: 38px 0 0;
  width: 225px;
}
ul.left_navigation li {
	display: block;
	line-height: none;
	
}
ul.left_navigation li a {
  display: block;
  padding: 5px 21px;
}
ul.left_navigation li a.activeLeft {
  background-color: #FFBA00;
  display: block;
  padding: 5px 21px;
  font-weight: bold;
}
ul.left_navigation_sub {
  float: left;
  margin: 5px 0;
  width: 225px;
}
ul.left_navigation_sub li {
	display: block;
	line-height: none;
	
}
ul.left_navigation_sub li a {
  display: block;
  padding: 5px 30px;
  font-size: smaller;
}
ul.left_navigation_sub li a.activeLeft {
  background-color: #FFBA00;
  display: block;
  padding: 5px 30px;
  font-size: smaller;
  font-weight: bold;
}
table#userInfoTbl {
	width: 700px;
	border-collapse: collapse;
	margin:15px;
	color: #000;
	
}
table#userInfoTblEdit {
	width: 700px;
	border-collapse: collapse;
	margin:15px;
	color: #000;
	
}
table#userInfoTblEdit td{
	padding:0;
	
}
table#userInfoTblEdit label {
  float: left;
  font-weight: bold;
  margin: 5px 0;
}
table#userInfoTbl td {
	padding: 2px;
  vertical-align: middle;
	
}

.social_APIs_widgets {
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  float: left;
  margin: 10px 0;
  position: relative;
  width: 735px;
}
.social_APIs_widgets h2 {
  background: url("../images/white_dotted_pattrn.jpg") repeat scroll 0 0 transparent;
  float: left;
  height: 27px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 733px; color: #FFBA00;
}

.social_APIs_widgets h2 {
  background: url("../images/white_dotted_pattrn.jpg") repeat scroll 0 0 transparent;
  border-bottom: 1px solid #DDDDDD;
  color: #FFBA00;
  float: left;
  height: 17px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  width: 735px;
}
a.connect_with_facebook_btn {
  background: url("../images/connect_with_facebook.gif") no-repeat scroll 0 0 transparent;
  display: block;
  height: 21px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 169px;
}
a.connect_with_twitter_btn {
  background: url("../images/signin_with_twitter.gif") no-repeat scroll 0 0 transparent;
  display: block;
  height: 21px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 131px;
}
a.connect_with_linkedin_btn {
  background: url("../images/connect_with_linkedin.gif") no-repeat scroll 0 0 transparent;
  display: block;
  height: 21px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 140px;
}
.APIs_contents {
  float: left;
  padding: 20px;
  text-align: center;
  width: 700px;
}
#home-page-notification {
	background-color: #FFFFFF;
	border: 1px solid #FFE400;
	float: left;
	height: 80px;
	margin-bottom: 5px;
	padding: 5px;
	position: relative;
	width: 242px;
	background: url("../images/white_dotted_pattrn.jpg") repeat scroll 0 0 transparent;
}
.clear {
	clear: both;
}
#account_verification {
	background-color: #FFFFFF;
	border: 1px solid #FFE400;
	position: relative;
	margin: 8px auto;
}
#account_verification h2 {
	background-color: #FFBA00;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}
#account_verification label {
	color: #000000;
	float: left;
	clear: both;
	margin: 5px 7px 0 310px;
	text-align: left;
	width: 175px;
}
#account_verification input.textField {
	background: url("../images/input_pattern_yellow.jpg") repeat scroll 0 0 transparent;
	border: medium none;
	float: left;
	font-size: 1em;
	height: 25px;
	line-height: 25px;
	margin: 2px 0;
	padding: 0 5px;
	width: 173px;
}

.input_fields{
  background: url("../images/input_pattern_yellow.jpg") repeat scroll 0 0 transparent;
  border: medium none;
  float: left;
  font-size: 1em;
  height: 25px;
  line-height: 25px;
  margin: 2px 0;
  padding: 0 5px;
  width: 173px;
}
#errorExplanation {
	padding: 5px;
}
#confirm_submit {
	margin-bottom: 5px;
	margin-right: 5px;
}
.fb_status {
	text-align: left;
}
/*======================Profile Page Styles - Aug-3-2011=================================*/

a.moreBtnPlainRed {
  background-color: #FF0000;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  padding: 0 10px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  top: 2px;
}
a.blackBtnYellow {
  background: url("../images/yellow_btn_bg.jpg") repeat-x scroll 0 0 transparent;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
  height: 26px;
  line-height: 27px;
  margin: 1px 8px 0 5px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.profile_featured_section_full {
  background-color: #FFFFFF;
  border: 1px solid #FFE400;
  float: left;
  margin: 0 0 10px;
  position: relative;
  width: 735px;
}
.profile_featured_section_full img {
	float: left;
	 margin: 20px 20px 20px 30px;
	
}
.profile_featured_section_full h3 {
	margin: 20px 0 0 0;
	
}
.profile_featured_section_full h2 {
  background-color: #FFBA00;
  padding: 5px 10px;
  text-align: center;
  width: 715px;
}
.darkBg h2 {
	background:#333333;
	
}
.darkBg img {
	margin: 0 5px 0 0;
	float: left;
	
}
.scolling {
	height: 155px;
	overflow-x: hidden;
	
}
.darkBg a {
  background-color: #F1F1F1;
  color: #555555;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 0 1px 2px;
  text-decoration: none;
  width: 177px;
}
.darkBg a:hover {
  background-color: #FFBA00;
}
h2.inner_black {
	color: #000;
	
}
.profile_featured_section_full select {
  background: none repeat scroll 0 0 #F1F1F1;
  border: none;
  float: left;
  margin: 3px 0 0;
  width: 68%;
}
a.floated {
  float: left;
  margin: 0 0 20px 215px;
}
.selected_link {
  background-color: #FFBA00 !important;
}
#userInfoTblEdit input.textField {
  background: none repeat scroll 0 0 #DDDDDD;
  border: medium none;
  float: left;
  width: 66%;
}
#userInfoTblEdit input.textField:focus {
  background: none repeat scroll 0 0 #CCCCCC;
  border: medium none;
  float: left;
  width: 66%;
}
.profile-edit-picture {
  margin: -25px 20px 20px 270px !important;
}
