<div id="account_verification">
	<h2>Activate your account</h2>

	<div id="confirm_form">
		<% form_for @user, :url => activate_path(@user.id), :html => { :method => :post } do |form| %>
			<%= form.error_messages %>
			<br />
      <% if @user.email.blank? && (@user.social_profile.blank? || @user.social_profile[:email].blank?) %>
        <% is_email_present = false %>
      <% else %>
        <% is_email_present = true %>
      <% end %>
			<%= render :partial => "form", :locals => { :form => form,:email_present => is_email_present }%>
		<% end %>
	</div>
</div>
