.container
  %footer.span-24.column#footer
    %span.column.last
      Except where otherwise noted, content on this site is licensed under the Creative Commons Attribution Share-Alike License v3.0 or any later version.
    %span.column.right
      ShareMe © 2011-2012
