<% content_for :top_js do %>
  <script type="text/javascript">
    $(function () {
        $('.c_links').click(function () {
            var c_id = this.id;
            $.ajax({
              type: "GET",
              url: "/show_basic_profile",
              data: {id: this.id},
              success: function(data){
                $('#basic_profile_info').html(data);
                $('.selected_link').removeClass("selected_link");
                $('#'+c_id).addClass("selected_link");
                }
              });
            return false;
          });
    });
  </script>
<% end %>

<% unless flash.blank?  %>
  <div class="profile_featured_section">
      <%= flash[:notice] || flash[:error] %>
   </div>
  <br />
<% end %>
<div class="profile_featured_section_full darkBg">
  <h2>All Contacts</h2>
  <% if @contacts.size > 0 %>
  <div class="scolling">
    <% @contacts.each do |ct| %>
      <% if ct.id == @contact.id %>
        <% cl = "c_links selected_link" %>
      <% else %>
        <% cl = "c_links" %>
      <% end %>
      <%= link_to image_tag("/images/all_contacts_thumb.jpg")+ct.name,contact_path(ct),:class=>cl,:id=>ct.id %>
    <% end %>
  </div>
  <% else %>
    <div>You have no contacts</div>
  <% end %>
</div>
<div id="basic_profile_info">
  <% unless @contact.blank? %>
    <%= render :partial => "profile_view_index", :locals=>{:contact=>@contact} %>
  <% end %>
</div>
